<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="tedu.international@gmail.com"/>
  <add key="FromEmailPassword" value="3Muigiapcong$"/>
  <add key="FromName" value="4Teen"/>
  <add key="AdminEmail" value="nguyenhongha250297@gmail.com"/>
  <add key="CurrentLink" value="https://localhost:44336/"/>
  <add key="EnableBundles" value="false"/>
  <!--Setting Ngan Luong payment-->
  <add key="MerchantId" value="63862"/>
  <add key="MerchantPassword" value="c9a4af9e196d6726bb9ef4c7d15a4c25"/>
  <add key="MerchantEmail" value="nguyenhongha250297@gmail.com"/>
</appSettings>