#myCarousel{
    float:right;
    margin-left:200px;
}
.well-small1{
     padding: 9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
} 
#khung{
    width:670px;
    float:right;
 }
.item{
    margin-right:0px;
}
#canle1{
    float:left;
  
    width:300px;
}
#canle2{
    float:right;
    width:500px;
   
}
#anh {
    float: left;
    margin-left: 1000px;
    width: 40px;
    height: 20px;
}  
#anhbia{
     float: left;
    margin-left: 600px;
    width: 5px;
    height: 5px;
}
#thongtin{
    float :none;
   
    margin-left:450px;
    
}
#khungLogin{
    width:670px;
    float:right;
    margin-left:100px;
    margin-top:-156%;
}
.chinhfont 
{
    float:left;
    margin-left:250px;
    margin-right:150px;
    
}
.chinhthongtin
{
    float:right;
}
