                </div>
                </div>
            </div>
                </div>
<footer class="footer" style="padding: 20px;max-width: 970px;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">

    <div>
        <i>
            HOTLINE: 079.325.3797
            Hệ thống 4Teen tại Hải Phòng<br />
            14 – 16 Mê Linh, Hải Phòng<br />

            14 Phạm Minh Đức, Hải Phòng<br /><br />
        </i>
    </div>

    <div>
        <i>
            VỀ CHÚNG TÔI<br />
            4Teen - Thương hiệu thời trang nữ hàng đầu dành cho giới trẻ.
        </i>
    </div>
</footer>
            </div>
        </div>
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/bootstrap.minb.js"></script>

<script src="~/Scripts/jquery.easing-1.3.min.js"></script>
<script src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="~/Scripts/shop.js"></script>
        </body>
