@using WebQACustomerArea.Models;
@model List<Category>

@foreach (var item in Model)
{
    <li><a class="dropdown-item" href="@Url.Action("TungLoaiSanPham", "Home", new { @loai = item.Category_Id})">@item.Category_Name</a></li>
    @*<li class="list-group-item"><a href="@Url.Action("TungLoaiSanPham", "Home", new { @loai = item.Category_Id})">@item.Category_Name</a></li>*@
}
